# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 2
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[*.html]
trim_trailing_whitespace = true
insert_final_newline = true

[{*.styl,*.scss,*.less,*.css}]
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,bower.json,.eslintrc,.gitignore}]
trim_trailing_whitespace = true
insert_final_newline = true
